body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex;
    

}
h1{
    text-align:center;
    font-weight: bold;
}
.box{
    width:400px;
    margin:50px auto;
    padding:30px;
    border:1px solid black;
    font-size:15px;
}
.box > p {
    text-align: center;

}
h3{
    margin-top:20px;
    margin-bottom:5px;
}
input{
    width:95%;
    margin:8px 0;
    padding:10px;
    border:2px solid black;
    font-weight:bold;
}
.check{
    font-size:14px;
}
.check input{
    width:auto;
}

.signup{
    width:100%;
    padding:10px;
    margin:8px;
    background-color: blue;
    color: white;
    border:none;
}
.login,
.or {
    text-align: center;
}
a{
    color: blue;
}
.box > div{
    display: flex;
    gap:15px;
}
.box > div button{
    width:50%;
    padding:10px;
    background-color: white;
    color: black;
    border:1px solid black;
    font-size:16px;
}